body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9fbff; }
  body p {
    font-size: 15px; }
  body header .navbar {
    background-color: #F8113A; }
    body header .navbar .img-logo {
      width: 200px; }
    body header .navbar .menu-header ul li a {
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      font-family: 'Roboto Condensed', sans-serif; }
      body header .navbar .menu-header ul li a:hover{
        color: #ffee04;
      }
    body header .navbar .menu-header ul li.active a {
      border-bottom: 5px solid #ffbb03;
      margin-bottom: -5px; }
    body header .navbar .menu-header ul li {
      padding: 5px 3px; }
	  .box-sidebar {
    margin-bottom: 20px;
}
footer h3 {
  font-size: 20px;
  margin-left: 20px;
}
footer a,footer a:hover,footer a:focus {
  color: #F8113A;
  text-decoration: none;
}
  body main {
    position: relative;
    top: 25px; }
    body main .cat-zowin .cat .title-cat h2 {
      font-size: 25px;
      color: #F8113A;
      font-weight: 500;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .cat-zowin .cat .top-news .link thead tr td {
      background-color: #f4f4f4;
      color: #006eb4;
      text-transform: uppercase; }
    body main .cat-zowin .cat .top-news .link .btn-yellow {
      background-color: #ff9e23;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 20px;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .cat-zowin .cat .top-news table thead td {
      background-color: #d9edf7;
      font-weight: 600; }
    body main .cat-zowin .cat .top-news table tr td {
      text-align: center;
      vertical-align: middle;
      border-top: none; }
    body main .cat-zowin .cat .top-news table tr .img-logo {
      background: #f3f3f3;
      padding: 5px; }
    body main .cat-zowin .cat .top-news table tr .title-macao {
      color: #f2313c;
      font-size: 20px; }
    body main .content {
      font-size: 16px; }
      body main .content .title {
        font-size: 25px;
        color: #000;
        text-align: center;
        font-weight: 500;
        font-family: 'Roboto Condensed', sans-serif; }
      body main .content .content-home {
        color: #454545;
        font-weight: 500; }
      body main .content .table-content .tr-thead {
        background-color: #e3e7f1;
        text-align: center; }
      body main .content .table-content tbody {
        text-align: center; }
        body main .content .table-content tbody .btn-reg {
          color: #006eb4;
          font-weight: 600;
          padding: 10px 30px;
          text-transform: uppercase;
          background-color: #fff; }
        body main .content .table-content tbody .btn_rate {
          color: #F8113A;
          font-weight: 600;
          padding: 10px 27px;
          text-transform: uppercase;
          background-color: #fff; }
        body main .content .table-content tbody .stt {
          background-color: #F8113A;
          padding: 15px 0px;
          margin: 0px;
          color: #fff;
          font-weight: 600;
          font-size: 18px; }
        body main .content .table-content tbody .diem {
          background-color: #484848;
          padding: 15px 0px;
          margin: 0px;
          color: #fff;
          font-weight: 600;
          font-size: 18px; }
      body main .content .content-left {
        border-left: 10px solid #ffb603;
        padding: 15px; }
        body main .content .content-left p {
          color: #808080; }
    body main .news .title {
      border-left: 5px solid #bdbdbd; }
      body main .news .title h2 {
        font-size: 25px;
        padding-left: 10px;
        line-height: 20px; }
        body main .news .title h2 a {
          color: #F8113A;
          text-decoration: none;
          font-family: 'Roboto Condensed', sans-serif; }
    body main .news .content-news {
      border-bottom: 1px dotted #bbb; }
      body main .news .content-news .title-news {
        line-height: 1; }
        body main .news .content-news .title-news a {
          font-size: 20px;
          font-family: 'Roboto Condensed', sans-serif;
          color: #000;
          font-weight: 600; }
          body main .news .content-news .title-news a:hover {
            color: #F8113A;
            text-decoration: none; }
      body main .news .content-news .des {
        color: #676767; }
    body main .news .list-news {
      border-bottom: 1px dotted #bbb;
      padding: 5px 0px; }
      body main .news .list-news i {
        color: #F8113A; }
      body main .news .list-news p {
        margin-bottom: 0 !important; }
        body main .news .list-news p a {
          font-weight: 600;
          font-family: 'Roboto Condensed', sans-serif;
          color: #000; }
          body main .news .list-news p a:hover {
            text-decoration: none;
            color: #F8113A; }
    body main .news-footbal .sidebar .title-sidebar {
      border-left: 5px solid #bdbdbd; }
      body main .news-footbal .sidebar .title-sidebar h2 {
        font-size: 25px;
        padding-left: 10px;
        line-height: 20px; }
        body main .news-footbal .sidebar .title-sidebar h2 a {
          color: #F8113A;
          text-decoration: none;
          font-family: 'Roboto Condensed', sans-serif; }
    body main .news-footbal .ft-news h3 {
      font-size: 22px;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .news-footbal .ft-news h4 {
      font-size: 16px;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .news-footbal .ft-news a:hover {
      text-decoration: none;
      color: #F8113A !important; }
    body main .news-footbal .ft-news .title {
      border-left: 5px solid #bdbdbd; }
      body main .news-footbal .ft-news .title h2 {
        font-size: 25px;
        padding-left: 10px;
        line-height: 20px; }
        body main .news-footbal .ft-news .title h2 a {
          color: #F8113A;
          text-decoration: none;
          font-family: 'Roboto Condensed', sans-serif; }
    body main .news-footbal .ft-news .lst-news .list-news {
      border-bottom: 1px dotted #bbb;
      padding: 5px 0px; }
      body main .news-footbal .ft-news .lst-news .list-news .ttbd {
        margin-left: 0px; }
      body main .news-footbal .ft-news .lst-news .list-news i {
        color: #F8113A; }
      body main .news-footbal .ft-news .lst-news .list-news p {
        margin-bottom: 0 !important; }
        body main .news-footbal .ft-news .lst-news .list-news p a {
          font-weight: 600;
          font-family: 'Roboto Condensed', sans-serif;
          color: #000; }
          body main .news-footbal .ft-news .lst-news .list-news p a:hover {
            text-decoration: none;
            color: #F8113A; }
    body main .single .content {
      max-width: 100%; }
      body main .single .content .date {
        border-bottom-width: 2px !important;
        border-bottom-color: #eeeeee !important;
        border-top-width: 3px !important;
        border-top-color: #eeeeee !important;
        color: #8b8b8b;
        font-weight: 600; }
      body main .single .content .add-link .btn-link {
        margin-bottom: 15px;
        text-decoration: none !important;
        padding: 30px; }
        body main .single .content .add-link .btn-link .link-nc {
          text-align: center;
          padding: 10px 0px; }
          body main .single .content .add-link .btn-link .link-nc a {
            color: #000;
            background-color: gold;
            border-radius: 5px;
            padding: 10px 45px;
            font-weight: 600; }
          body main .single .content .add-link .btn-link .link-nc a:hover {
            text-decoration: none;
            background-color: red !important;
            color: #fff !important; }
      body main .single .content p img {
        max-width: 100% !important;
        margin: 0 auto;
        height: auto;
        text-align: center; }
      body main .single .content h1 {
        font-size: 30px;
        color: #F8113A;
        font-family: 'Roboto Condensed', sans-serif; }
      body main .single .content h2 {
        font-size: 25px;
        color: #011a32;
        font-family: 'Roboto Condensed', sans-serif; }
      body main .single .content h3 {
        font-size: 22px !important;
        font-family: 'Roboto Condensed', sans-serif; }
      body main .single .content p {
        color: #454545; }
      body main .single .content .news-diff .title-news-diff {
        font-family: 'Roboto Condensed', sans-serif; }
      body main .single .content .news-diff .box-content .grid-news {
        padding-right: 15px;
        padding-left: 15px; }
      body main .single .content .news-diff .box-content .v-news-item {
        border-top: 1px dotted #bbb; }
      body main .single .content .news-diff .box-content .des a {
        color: #000;
        font-size: 20px;
        font-family: 'Roboto Condensed', sans-serif; }
        body main .single .content .news-diff .box-content .des a:hover {
          text-decoration: none;
          color: #F8113A; }
      body main .single .content figure {
        width: 100% !important;
        margin: 0 auto;
        height: auto;
        text-align: center; }
        body main .single .content figure .wp-caption-text {
          font-style: italic;
          padding-top: 5px;
          font-size: 15px;
          color: #454545; }
        body main .single .content figure img {
          width: 100%; }
      body main .single .content .wp-caption-text {
        font-style: italic;
        padding-top: 5px;
        font-size: 15px;
        color: #454545; }
    body main .sidebar {
      /*.border-fb{border-bottom: 1px solid #ebebeb;}*/ }
      body main .sidebar .border-sidebar {
        border-bottom-style: dotted !important;
        border-bottom-color: #bbbbbb !important; }
      body main .sidebar .box-top {
        background-color: #fff;
        border: 1px solid #ebebeb; }
        body main .sidebar .box-top .mark-col {
          background: #ffb603;
          padding: 13px 0px;
          color: #fff;
          font-weight: 600; }
        body main .sidebar .box-top .evaluate {
          font-weight: 600;
          padding: 13px 0px;
          background-color: #f4f4f4; }
          body main .sidebar .box-top .evaluate a {
            color: #F8113A; }
            body main .sidebar .box-top .evaluate a:hover {
              text-decoration: none;
              color: #F8113A; }
      body main .sidebar .box-sidebar .title-sidebar {
        font-size: 25px;
        font-family: 'Roboto Condensed', sans-serif; }
      body main .sidebar .box-sidebar .box-top-km {
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid #ebebeb;
        background-color: #fff; }
        body main .sidebar .box-sidebar .box-top-km .border-bottom {
          border-bottom-color: #bbbbbb !important;
          border-bottom-style: dotted !important; }
        body main .sidebar .box-sidebar .box-top-km a {
          color: #000;
          font-size: 15px; }
          body main .sidebar .box-sidebar .box-top-km a:hover {
            text-decoration: none;
            color: #F8113A; }
    body main .category .head-title h1 {
      font-size: 30px;
      color: #011a32;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .category .cat-top-news h2 {
      font-size: 20px;
      color: #011a32;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .category .cat-top-news .nha-cai table tbody tr td {
      padding: 25px;
      background-color: #fff; }
    body main .category .cat .title-cat h1 {
      font-size: 30px;
      color: #F8113A;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .category .cat h3 a {
      color: #000;
      font-size: 23px;
      font-family: 'Roboto Condensed', sans-serif; }
      body main .category .cat h3 a:hover {
        text-decoration: none;
        color: #F8113A; }
    body main .category .cat .border-bottom {
      border-bottom-color: #bbbbbb !important;
      border-bottom-style: dotted !important; }
    body main .category .km .title-cat h2 {
      font-size: 25px;
      color: #F8113A;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .category .km h3 a {
      color: #000;
      font-size: 23px;
      font-family: 'Roboto Condensed', sans-serif; }
      body main .category .km h3 a:hover {
        text-decoration: none;
        color: #F8113A; }
    body main .category .km .border-bottom {
      border-bottom-color: #bbbbbb !important;
      border-bottom-style: dotted !important; }
    body main .link-nha-cai .link-ncs .h1 {
      font-size: 30px;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .link-nha-cai .link-ncs .link .link-row {
      margin-left: 0px;
      margin-right: 0px; }
      body main .link-nha-cai .link-ncs .link .link-row .col-md-12 .row {
        background-color: #fff !important; }
      body main .link-nha-cai .link-ncs .link .link-row .link-1 {
        padding: 15px;
        text-align: center; }
        body main .link-nha-cai .link-ncs .link .link-row .link-1 .btn {
          padding: 10px 55px;
          border-radius: 5px; }
      body main .link-nha-cai .link-ncs .link .link-row img {
        padding: 20px; }
      body main .link-nha-cai .link-ncs .link .link-row .btn {
        background-color: #f4f4f4;
        font-weight: 600; }
        body main .link-nha-cai .link-ncs .link .link-row .btn a {
          color: #006eb4; }
          body main .link-nha-cai .link-ncs .link .link-row .btn a:hover {
            text-decoration: none;
            color: #fc6e21; }
    body main .link-nha-cai .km .title-cat h2 {
      font-size: 25px;
      color: #011a32;
      font-family: 'Roboto Condensed', sans-serif; }
    body main .link-nha-cai .km h3 a {
      color: #000;
      font-size: 23px;
      font-family: 'Roboto Condensed', sans-serif; }
      body main .link-nha-cai .km h3 a:hover {
        text-decoration: none;
        color: #F8113A; }
    body main .link-nha-cai .km .border-bottom {
      border-bottom-color: #bbbbbb !important;
      border-bottom-style: dotted !important; }
    body main .btn-loadmore {
      padding: 5px;
      width: 100%;
      margin-bottom: 20px;
      background: #e2e2e2;
      border-radius: 0px;
      color: #595959; }
      body main .btn-loadmore:hover {
        background-color: #d78e00;
        color: white; }
  body footer .footer {
    border-top: 3px solid #ebeff6;
    background: #fff; }
    body footer .footer .share {
      color: #585858;
      font-weight: 500; }
      body footer .footer .share a i {
        color: #000;
        padding: 5px;
        font-size: 20px; }
        body footer .footer .share a i:hover {
          color: #ed1a22; }
    body footer .footer .email {
      color: #7f7f7f;
      font-weight: 500; }
    body footer .footer .dmca .des {
      color: #7f7f7f;
      font-weight: 500; }

/*Mobile*/
@media (max-width: 576px) {
  body p {
    font-size: 15px; }
  body header .btn-menu {
    margin-right: -10px; }
    body header .btn-menu:active {
      border: none !important; }
  body main {
    top: 50px; }
    body main .cat-zowin .cat .title-cat h2 {
      font-size: 20px; }
    body main .cat-zowin .cat .top-news .link .btn-yellow {
      font-size: 16px; }
    body main .cat-zowin .cat .top-news table .img-mc {
      width: 100% !important; }
    body main .cat-zowin .cat .top-news table tr td {
      text-align: center;
      vertical-align: middle;
      border-top: none; }
    body main .cat-zowin .cat .top-news table tr .img-logo {
      background: #f3f3f3;
      padding: 5px; }
    body main .cat-zowin .cat .top-news table tr .title-macao {
      font-size: 16px; }
    body main .content .table-content .table-nc {
      display: none; }
    body main .content .title {
      font-size: 22px; }
      body main .content .title p {
        font-size: 15px; }
    body main .content .content-home .detail-content {
      font-size: 15px; }
    body main .news .content-news {
      border-bottom: none; }
      body main .news .content-news .des p {
        color: #000; }
    body main .news .list-news {
      padding: 15px 0px;
      border-top: 1px dotted #bbb;
      border-bottom: none; }
      body main .news .list-news h3 {
        line-height: 0.8; }
        body main .news .list-news h3 a {
          font-size: 16px;
          font-weight: 600;
          color: #000; }
          body main .news .list-news h3 a:hover {
            text-decoration: none;
            color: #F8113A; }
    body main .news .col-12 {
      border-top: 1px solid #dee2e6;
      border-bottom: 1px solid #dee2e6;
      padding-top: 20px;
      background: #fff; }
    body main .sidebar {
      margin-top: 15px;
      border-top: 1px solid #ebebeb; }
      body main .sidebar .box-top {
        border: none; }
      body main .sidebar .border-sidebar {
        border-bottom-style: solid !important;
        border-bottom-color: #eee !important; }
      body main .sidebar .box-sidebar {
        background-color: #fff;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px; }
        body main .sidebar .box-sidebar .title-sidebar {
          border-bottom: none; }
        body main .sidebar .box-sidebar .title-sidebar h2 {
          font-size: 20px;
          color: #F8113A;
          font-weight: 600;
          border-left: 5px solid;
          text-align: left;
          padding-left: 5px; }
        body main .sidebar .box-sidebar .box-top-km {
          padding-left: 15px;
          padding-right: 15px; }
          body main .sidebar .box-sidebar .box-top-km a {
            font-weight: 600; }
          body main .sidebar .box-sidebar .box-top-km .border-bottom {
            border-bottom-style: solid !important;
            border-bottom-color: #eee !important; }
    body main .category .head-title h1 {
      font-size: 22px;
      text-align: center; }
    body main .category .cat-top-news h2 {
      color: #011a32;
      font-size: 18px;
      text-align: center; }
    body main .category .cat-top-news p {
      text-align: center;
      color: #454545; }
    body main .category .cat-top-news .nha-cai-mb {
      /* .nha-cai-row{margin-right: 0px;margin-left: 0px;}*/ }
      body main .category .cat-top-news .nha-cai-mb .img-nc {
        height: 65px;
        border: 1px solid #bbbbbb;
        padding: 15px;
        text-align: center;
        background-color: #fff; }
    body main .category .border-cat {
      margin-left: -15px;
      margin-right: -15px; }
    body main .category .km {
      background-color: #fff;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px; }
      body main .category .km .list-news h3 {
        line-height: 0.8; }
        body main .category .km .list-news h3 a {
          font-size: 16px;
          font-weight: 600; }
      body main .category .km .list-news .border-bottom {
        border-bottom-style: solid !important;
        border-bottom-color: #eee !important; }
      body main .category .km .title-cat h2 {
        font-size: 19px;
        border-left: 5px solid;
        line-height: 0.8;
        padding-left: 5px; }
    body main .category .cat .title-cat h1 {
      font-size: 22px;
      border-left: 5px solid;
      line-height: 0.8;
      padding-left: 5px; }
    body main .category .cat h3 {
      line-height: 0.8; }
      body main .category .cat h3 a {
        font-size: 16px;
        font-weight: 600; }
    body main .link-nha-cai .km {
      background: #fff;
      margin-left: -15px;
      margin-right: -15px; }
      body main .link-nha-cai .km .border-bottom {
        border-bottom-style: solid !important;
        border-bottom-color: #eee !important; }
      body main .link-nha-cai .km .title-cat {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px; }
      body main .link-nha-cai .km .list-news {
        padding-left: 15px;
        padding-right: 15px; }
      body main .link-nha-cai .km h3 {
        line-height: 0.8; }
        body main .link-nha-cai .km h3 a {
          font-size: 16px;
          font-weight: 600;
          color: #000; }
      body main .link-nha-cai .km .title-cat h2 {
        font-size: 20px;
        color: #F8113A;
        border-left: 5px solid;
        padding-left: 5px; }
    body main .link-nha-cai .link-ncs .h1 {
      font-size: 25px;
      text-align: center; }
    body main .link-nha-cai .link-ncs .link .link-row .btn a {
      font-size: 13px; }
    body main .link-nha-cai .link-ncs .link .link-row img {
      padding: 22px 0px; }
    body main .link-nha-cai .link-ncs .link .link-row .link-1 .btn {
      padding: 5px 15px; }
    body main .single .content p iframe {
      width: 100%;
      height: auto; }
    body main .single .content figure img {
      max-width: 100%;
      height: auto; }
    body main .single .content .news-diff {
      border-bottom: 1px solid #eee;
      color: #F8113A;
      background: #fff;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 100px; }
      body main .single .content .news-diff .box-content {
        padding-left: 15px;
        padding-right: 15px; }
        body main .single .content .news-diff .box-content .v-news-item {
          border-top-style: solid !important;
          border-top-color: #eee !important; }
        body main .single .content .news-diff .box-content .des a {
          color: #000;
          font-size: 16px;
          font-weight: 600; }
        body main .single .content .news-diff .box-content .grid-news p {
          display: none; }
      body main .single .content .news-diff .title-news-diff {
        font-size: 19px;
        border-left: 5px solid;
        line-height: 0.8;
        padding-left: 5px;
        margin-left: 15px; }
    body main .single .content .date {
      border-bottom-width: 2px !important;
      border-bottom-color: #eeeeee !important;
      border-top-width: 3px !important;
      border-top-color: #eeeeee !important;
      color: #8b8b8b;
      font-weight: 600; }
    body main .single .content h1 {
      font-size: 25px;
      text-align: center;
      color: #000; }
    body main .single .content h2 img {
      width: 100%;
      height: auto; }
    body main .single .content h3 img {
      width: 100%;
      height: auto; }
    body main .single .content .add-link .btn-link {
      padding: 5px; }
      body main .single .content .add-link .btn-link .link-nc {
        margin-bottom: 10px; }
    body main .single .content .add-link .title {
      margin-bottom: 10px !important;
      padding-top: 15px !important; }
  body footer .footer {
    border-top: none;
    background-color: #232527; }
    body footer .footer .footer-mb p {
      color: #6b6b6b; } }
